@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    transition: 2500ms ease-in-out;
    --white-color: #f5f5f5;
    --element-background-color: #55c6b1;
    --element-hover-background-color: #449e8e;
    --custom-time-button-hover: #2a7d6d;
    --heading-color: -webkit-linear-gradient(135deg, rgb(225, 73, 13), rgb(13, 201, 0))
}

body {
    transition: 1200ms ease-in-out;
    background-image: url("https://wallpapers.com/images/featured/simple-clean-8g9017acqfddycrl.jpg");
    background-size: cover;
    overflow: hidden;
    color: var(--white-color);
}

#title {
    padding-top: 5px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 5px;
    font-size: 110px;
    background-image: var(--heading-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#custom-time {
    background-color: var(--element-hover-background-color);
    color: var(--white-color);
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    position: relative;
    padding: 25px 35px;
    border: 0px;
    border-radius: 10px;
    transition: 400ms ease-in-out;
    margin-top: -2%;
}

#custom-time:hover {
    cursor: pointer;
    box-shadow: 2px 4px 25px -1px var(--white-color);
    transform: translate(0px, -10px);
    background-color: var(--custom-time-button-hover);
    color: var(--white-color);
}

#change-theme {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 95%;
    top: 4%;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

#change-theme:hover {
    transform: translateY(-7px);
}

div {
    position: absolute;
    top: 42%;
    margin-left: -5.5%;
}

.container {
    margin-top: 5%;
    margin-right: 0.5%;
}

label {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-right: 5px;
}

input {
    width: 120px;
    padding: 16px 8.5px;
    text-align: center;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    border: 0px;
    border-radius: 8px;
    letter-spacing: 2px;
    margin-right: 15px;
}

h2 {
    color: var(--white-color);
    font-family: 'Lobster', cursive;
    letter-spacing: 15px;
    font-size: 180px;
    position: absolute;
    top: 30%;
    padding: 15px 15px;
    border-radius: 10px;
    transition: 400ms ease-in-out;
}

h3 {
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 48%;
    font-size: 150px;
    color: #990000;
    transition: 400ms ease-in-out;
}

nav {
    position: relative;
    display: flex;
    width: 71%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: var(--white-color);
    border-radius: 14px;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    height: 200px;
    width: 200px;
    background-color: var(--element-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms ease-in-out;
}

li:hover {
    cursor: pointer;
    box-shadow: 2px 4px 25px 7px var(--white-color);
    transform: translate(0px, -15px);
    background-color: var(--element-hover-background-color);
    color: var(--white-color);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: -21%;
    margin-right: 85%;
}

.icons a {
    color: var(--white-color);
    background-color: var(--element-background-color);
    width: 80px;
    height: 80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: 400ms ease-in-out;
}

.icons a:hover {
    box-shadow: 2px 4px 25px 3px var(--white-color);
    transform: translate(0px, -5px);
    background-color: var(--element-hover-background-color);
    color: #3333ff;
}

.icons i {
    font-size: 47px;
}

@media (min-width: 1400px) {
    .icons {
        margin-top: -17.7%;
        margin-right: 88%;
    }

    nav {
        margin-left: 14.5%;
        margin-top: 24.5%;
    }
}

@media (min-width: 2000px) {
    #title {
        margin-top: 2%;
        font-size: 140px;
        margin-bottom: 6%;
    }

    #custom-time {
        font-size: 60px;
        padding: 30px 42px;
        margin-top: -3%;
    }

    div {
        margin-left: -5.5%;
    }

    label {
        font-size: 60px;
    }

    h2 {
        font-size: 220px;
        top: 28%
    }

    h3 {
        font-size: 160px;
        top: 50.5%;
    }

    li {
        height: 220px;
        width: 220px;
        font-size: 100px;
    }

    .icons {
        margin-top: -15.8%;
        margin-right: 88.5%;
    }

    .icons a {
        width: 100px;
        height: 100px;
    }

    .icons i {
        font-size: 60px;
    }

    nav {
        margin-left: 14%;
        margin-top: 25%;
    }

    #change-theme {
        height: 80px;
        width: 80px;
        left: 95.5%;
        top: 3.5%;
    }
}

@media (max-width: 500px) {
    #title {
        margin-top: 2.5%;
        font-size: 50px;
        text-align: center;
        margin-left: -6%;
    }

    #custom-time {
        margin-top: 0%;
        font-size: 30px;
        padding: 10px 15px;
        margin-bottom: 300px;
    }

    div {
        margin-left: -5.5%;
    }

    .container {
        margin-top: 0%;
        margin-left: 1%;
    }

    input {
        width: 30px;
        padding: 7px 5px;
        text-align: center;
        font-size: 15px;
        margin-right: 3px;
    }

    label {
        font-size: 27px;
    }

    h2 {
        margin-top: 25%;
        padding: 5px 5px;
        font-size: 80px;
    }

    h3 {
        font-size: 90px;
    }

    li {
        height: 100px;
        width: 100px;
        font-size: 50px;
    }

    .icons {
        width: 94vw;
        flex-direction: row;
        margin-top: 68%;
        margin-left: 85%;
        justify-content: space-between;
    }

    .icons a {
        width: 50px;
        height: 50px;
    }

    .icons i {
        font-size: 35px;
    }

    nav {
        width: 96vw;
        display: flex;
        margin-top: 52%;
        gap: -15px;
        justify-content: space-between;
    }

    #change-theme {
        height: 40px;
        width: 40px;
        left: 88.3%;
        top: 4.5%;
    }
}

@media (max-width: 400px) {
    #title {
        margin-left: -8%;
    }

    #change-theme {
        top: 5.5%;
        left: 89%;
        height: 35px;
        width: 35px;
    }

    .icons {
        margin-top: 52%;
    }

    nav {
        margin-top: 8%
    }

    li {
        height: 80px;
        width: 80px;
    }

    label {
        font-size: 25px;
        margin-right: 2px;
    }

    input {
        width: 27px;
    }

    h2 {
        margin-top: 18%;
    }

    h3 {
        margin-top: 18%;
        font-size: 60px;
    }

    .container {
        margin-top: 10%;
    }
}
